!!!
%html{html_attrs('en-us')}
  %head
    %title= settings.title
    %meta{:author => settings.author}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %link{:rel => "stylesheet", :href => "assets/app.css"}
    %script{:src => "assets/app.js"}
  %body
    = haml :_header
    = yield
    = haml :_footer
