ul#movies
	display: grid
	grid-template-columns: repeat(5, 1fr [col])
	grid-gap: 10px
	margin: 0
	padding: 0

li
	list-style: none
	position: relative
	img
		width: 100%
	span
		position: absolute
		bottom: 10px
		left: 10px
